extends ../layout
block main
  main(class="box-single")
    article(class="card")
      h2= user.title
      img(src=user.avatar_url class="card-img-top" alt="article cover image")
      div(class="card-body")
        block card_body
            h3
              small Nom : #{user.login}
            p Ville #{user.location}
            div=user.bio
            p
              small iD : #{user.id}
            p
              small Entreprise : #{user.company}
            p
              small Type : #{user.type}
            p
              small Type : #{user.email || 'NC'}
            p Blog : 
              a(href=user.blog) #{user.blog}
            p Gists : #{user.gists}
            p Followers : #{user.followers}
            p Date de création #{user.created_at}
        